Django>=6.0,<6.1
django-allauth>=65.0
django-unfold>=0.70
Pillow>=12.0
django-crispy-forms>=2.6
crispy-tailwind>=1.0
whitenoise>=6.12
python-decouple>=3.8
psycopg[binary]>=3.3
dj-database-url>=3.1
gunicorn>=23.0
